* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-family: sans-serif;
}

nav {
  text-align: center;
}

.city-input {
  display: inline-block;
  width: 195px;
  height: 35px;
  margin-bottom: 20px;
}

.search-button {
  /*background-color: rgba(128,128,128,.5);*/
  background-color: buttonface;
  width: 60px;
  height: 35px;
  border: 1px solid rgba(128,128,128,.9);
  border-radius: 1px;
  text-align: center;
}

.search-button:hover {
  cursor: pointer;
  background-color: rgba(128,128,128,.3);
  color: rgba(0,0,0,.7);
}

.post-button {
  /*background-color: rgba(128,128,128,.5);*/
  background-color: buttonface;
  width: 255px;
  height: 35px;
  border: 1px solid rgba(128,128,128,.9);
  border-radius: 1px;
  margin: 0 auto 20px auto;
  text-align: center;
  line-height: 35px;
}

.post-button:hover {
  cursor: pointer;
  background-color: rgba(128,128,128,.3);
  color: rgba(0,0,0,.7);
}

.map-div {
  width: 600;
  height: 300;
  background-color: red;
}

.dummy-map {
  background-color: #BFBFBF;
  width: 1000px;
  height: 450px;
  margin: 0 auto;
}
