* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

#app-container {
  background: url('http://www.pixelstalk.net/wp-content/uploads/2015/12/Oakland-bay-area-Graffiti-Background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.log-out {
  position: relative;
  float: right;
  background-color: rgb(128,128,128);
  /*background-color: buttonface;*/
  width: 85px;
  height: 35px;
  border: 1px solid black;
  border-radius: 1px;
  top: 5px;
  margin-right: 5px;
  text-align: center;
  line-height: 35px;
}

.log-out:hover {
  cursor: pointer;
  background-color: #C0C0C0;
  color: rgba(0,0,0,.7);
}

header {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-family: sans-serif;
  font-size: 40px;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

nav {
  text-align: center;
}

.city-input {
  display: inline-block;
  width: 195px;
  height: 35px;
  margin-bottom: 20px;
}

.search-button {
  background-color: rgb(128,128,128);
  /*background-color: buttonface;*/
  width: 60px;
  height: 35px;
  border: 1px solid rgba(128,128,128,.9);
  border-radius: 1px;
  text-align: center;
}

.search-button:hover {
  cursor: pointer;
  /*background-color: rgb(128,128,128);*/
  color: rgba(0,0,0,.7);
}

.post-button {
  background-color: rgb(128,128,128);
  /*background-color: buttonface;*/
  width: 255px;
  height: 35px;
  border: 1px solid black;
  border-radius: 1px;
  margin: 0 auto 55px auto;
  text-align: center;
  line-height: 35px;
}

.post-button:hover {
  cursor: pointer;
  background-color: #C0C0C0;
  color: rgba(0,0,0,.7);
}

.map-div {
  width: 1000px;
  height: 450px;
  background-color: #BFBFBF;
  margin: 0 auto;
}
